{% extends 'lyrics/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<p>
    <center>
        <div>
            <h1>일본 노래 가사 검색 &amp; 독음</h1>
        </div>
    </center>
</p>
<p>
    <div>
        <center>
            <form action="{% url 'findLyrics' %}" method = "post">
            {% csrf_token %}
            <input placeholder="가수 이름과 제목을 입력하세요" type="text" name="inputValue"/>
            <button type="submit" class="button button1">찾기</button>
        </center>
    </div>
</p>
<p>
    <center>
        <a onclick="inputPage()">일본어(히라가나) 입력기</a>
    </center>
</p>
<p>
    <center>
        <a onclick="inputPage2()">일본어 입력기</a>
    </center>
</p>
<br>
<br>
<br>
<br>
<br>
<p>
    <center>
        <div id="box2">
            conansjh20@naver.com <br>
            <a href="https://conansjh20.tistory.com/" target="_blank">티스토리 블로그</a>
        </div>
    </center>
</p>
{% endblock %}